<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }} | Calendar of Faerun!</title>
    <style>
        .holiday {
            background-color: burlywood;
            border: 1px solid black;
            padding: 10px;
            margin: 15px 0;
            text-align: center;
            font-size: 1.2em;
        }
    </style>
</head>

<body>
    <a href="/" &larr; Back to the Year View</a>

        {% if holiday_before %}
        <div class="holiday">
            <strong>{{ holiday_before}}</strong>
        </div>
        {% endif %}

        <h1>{{name}}</h1>

        <div class="tendays">
            <h4>First Tenday</h4>
            <ol>
                {% for day in range(1, 11) %}
                <li>Day {{day}}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="tendays">
            <h4>Second tendays </h4>
            <ol start="11">
                {% for day in range(11, 21) %}
                <li>Day {{day}}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="tendays">
            <h4>Third Tenday</h4>
            <ol start="21">
                {% for day in range(21, 31) %}
                <li>Day {{day}}</li>
                {% endfor %}
            </ol>
        </div>

        {% if holiday_after %}
        <div class="holiday">
            <strong>{{holiday_after}}</strong>
        </div>
        {% endif %}
</body>

</html>